body {
width: 980px;
margin: 40px auto;
}

ul {
list-style-type: square;
}

main {
display: flex;
}

.padding_this{
padding: 15px;
}

.logo,
.navigasi,
.konten,
.sidebar,
.footer {
margin-bottom: 10px;
padding: 20px 0;
}

.logo {
width: 100%;
height: 200px;
background: #070707;
text-align: center;
color: #fff;
}
.navigasi {
width: 100%;
height: auto;
background: red;
text-align: center;
}
.konten {
width: 70%;
background: #070707;
}
.sidebar {
width: 50%;
background: #FD7E00;
}
.footer {
width: 100%;
background: red;
text-align: center;
}

.navigasi ul{
padding: 0;
list-style: none;
display: inline-block;
margin: 0;
}
.navigasi li{
float: left;
margin: 0 10px;
}